<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>NeuroPredictions</title>
    

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
     .btn-success, .btn-secondary {
       margin-left: 10px;
     }

     
     .lds-spinner {
       color: official;
       display: inline-block;
       position: relative;
       width: 64px;
       height: 64px;
     }
     .lds-spinner div {
       transform-origin: 32px 32px;
       animation: lds-spinner 1.2s linear infinite;
     }
     .lds-spinner div:after {
       content: " ";
       display: block;
       position: absolute;
       top: 3px;
       left: 29px;
       width: 5px;
       height: 14px;
       border-radius: 20%;
       background: #cef;
     }
     .lds-spinner div:nth-child(1) {
       transform: rotate(0deg);
       animation-delay: -1.1s;
     }
     .lds-spinner div:nth-child(2) {
       transform: rotate(30deg);
       animation-delay: -1s;
     }
     .lds-spinner div:nth-child(3) {
       transform: rotate(60deg);
       animation-delay: -0.9s;
     }
     .lds-spinner div:nth-child(4) {
       transform: rotate(90deg);
       animation-delay: -0.8s;
     }
     .lds-spinner div:nth-child(5) {
       transform: rotate(120deg);
       animation-delay: -0.7s;
     }
     .lds-spinner div:nth-child(6) {
       transform: rotate(150deg);
       animation-delay: -0.6s;
     }
     .lds-spinner div:nth-child(7) {
       transform: rotate(180deg);
       animation-delay: -0.5s;
     }
     .lds-spinner div:nth-child(8) {
       transform: rotate(210deg);
       animation-delay: -0.4s;
     }
     .lds-spinner div:nth-child(9) {
       transform: rotate(240deg);
       animation-delay: -0.3s;
     }
     .lds-spinner div:nth-child(10) {
       transform: rotate(270deg);
       animation-delay: -0.2s;
     }
     .lds-spinner div:nth-child(11) {
       transform: rotate(300deg);
       animation-delay: -0.1s;
     }
     .lds-spinner div:nth-child(12) {
       transform: rotate(330deg);
       animation-delay: 0s;
     }
     @keyframes lds-spinner {
       0% {
         opacity: 1;
       }
       100% {
         opacity: 0;
       }
     }

    </style>
    
  </head>
  <body>
    <input id="key" type="hidden" value="{{ key }}">

    <div class="container-fluid">
      <div class="row">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="pair">Market</label>
          </div>
          <select class="custom-select" id="pair" style="height: 100%;">
            <!-- <option value="AUD_CAD">AUD/CAD</option>
                 <option value="AUD_CHF">AUD/CHF</option>
                 <option value="AUD_HKD">AUD/HKD</option>
                 <option value="AUD_JPY">AUD/JPY</option>
                 <option value="AUD_NZD">AUD/NZD</option>
                 <option value="AUD_SGD">AUD/SGD</option>
                 <option value="AUD_USD">AUD/USD</option>
                 <option value="CAD_CHF">CAD/CHF</option>
                 <option value="CAD_HKD">CAD/HKD</option>
                 <option value="CAD_JPY">CAD/JPY</option>
                 <option value="CAD_SGD">CAD/SGD</option>
                 <option value="CHF_HKD">CHF/HKD</option>
                 <option value="CHF_JPY">CHF/JPY</option>
                 <option value="CHF_ZAR">CHF/ZAR</option>
                 <option value="EUR_AUD">EUR/AUD</option>
                 <option value="EUR_CAD">EUR/CAD</option>
                 <option value="EUR_CHF">EUR/CHF</option>
                 <option value="EUR_CZK">EUR/CZK</option>
                 <option value="EUR_DKK">EUR/DKK</option>
                 <option value="EUR_GBP">EUR/GBP</option>
                 <option value="EUR_HKD">EUR/HKD</option>
                 <option value="EUR_HUF">EUR/HUF</option>
                 <option value="EUR_JPY">EUR/JPY</option>
                 <option value="EUR_NOK">EUR/NOK</option>
                 <option value="EUR_NZD">EUR/NZD</option>
                 <option value="EUR_PLN">EUR/PLN</option>
                 <option value="EUR_SEK">EUR/SEK</option>
                 <option value="EUR_SGD">EUR/SGD</option>
                 <option value="EUR_TRY">EUR/TRY</option>
                 <option value="EUR_USD" selected>EUR/USD</option>
                 <option value="EUR_ZAR">EUR/ZAR</option>
                 <option value="GBP_AUD">GBP/AUD</option>
                 <option value="GBP_CAD">GBP/CAD</option>
                 <option value="GBP_CHF">GBP/CHF</option>
                 <option value="GBP_HKD">GBP/HKD</option>
                 <option value="GBP_JPY">GBP/JPY</option>
                 <option value="GBP_NZD">GBP/NZD</option>
                 <option value="GBP_PLN">GBP/PLN</option>
                 <option value="GBP_SGD">GBP/SGD</option>
                 <option value="GBP_USD">GBP/USD</option>
                 <option value="GBP_ZAR">GBP/ZAR</option>
                 <option value="HKD_JPY">HKD/JPY</option>
                 <option value="NZD_CAD">NZD/CAD</option>
                 <option value="NZD_CHF">NZD/CHF</option>
                 <option value="NZD_HKD">NZD/HKD</option>
                 <option value="NZD_JPY">NZD/JPY</option>
                 <option value="NZD_SGD">NZD/SGD</option>
                 <option value="NZD_USD">NZD/USD</option>
                 <option value="SGD_CHF">SGD/CHF</option>
                 <option value="SGD_HKD">SGD/HKD</option>
                 <option value="SGD_JPY">SGD/JPY</option>
                 <option value="TRY_JPY">TRY/JPY</option>
                 <option value="USD_CAD">USD/CAD</option>
                 <option value="USD_CHF">USD/CHF</option>
                 <option value="USD_CNH">USD/CNH</option>
                 <option value="USD_CZK">USD/CZK</option>
                 <option value="USD_DKK">USD/DKK</option>
                 <option value="USD_HKD">USD/HKD</option>
                 <option value="USD_HUF">USD/HUF</option>
                 <option value="USD_INR">USD/INR</option>
                 <option value="USD_JPY">USD/JPY</option>
                 <option value="USD_MXN">USD/MXN</option>
                 <option value="USD_NOK">USD/NOK</option>
                 <option value="USD_PLN">USD/PLN</option>
                 <option value="USD_SAR">USD/SAR</option>
                 <option value="USD_SEK">USD/SEK</option>
                 <option value="USD_SGD">USD/SGD</option>
                 <option value="USD_THB">USD/THB</option>
                 <option value="USD_TRY">USD/TRY</option>
                 <option value="USD_ZAR">USD/ZAR</option>
                 <option value="ZAR_JPY">ZAR/JPY</option> -->
          </select>

          <div class="input-group-prepend">
            <label class="input-group-text" for="tf">Timeframes</label>
          </div>
          <select class="custom-select" id="tf" size="7" multiple>
            <!-- <option value="S5">5 seconds</option>
                 <option value="S10">10 seconds</option>
                 <option value="S15">15 seconds</option>
                 <option value="S30">30 seconds</option>
                 <option value="M1">1 minute</option>
                 <option value="M2">2 minutes</option>
                 <option value="M3">3 minutes</option>
                 <option value="M4">4 minutes</option>
                 <option value="M5">5 minutes</option>
                 <option value="M10">10 minutes</option>
                 <option value="M15">15 minutes</option>
                 <option value="M30">30 minutes</option>
                 <option value="H1">1 hour</option>
                 <option value="H2">2 hours</option>
                 <option value="H3">3 hours</option>
                 <option value="H4">4 hours</option>
                 <option value="H6">6 hours</option>
                 <option value="H8">8 hours</option>
                 <option value="H12">12 hours</option>
                 <option value="D" selected>1 day</option>
                 <option value="W">1 week</option>
                 <option value="M">1 month</option> -->
          </select>

          <input type="button" class="btn btn-primary" value="Add Markets" onclick="loadStuff()">
        </div>

        <div class="input-group mb-3">

          <!-- <input type="button" class="btn btn-danger" value="Clear All Layouts" onclick="clearLayouts()"> -->

          <div class="input-group-prepend">
            <label class="input-group-text" for="tf">Load layout</label>
          </div>
          <select class="custom-select" id="layouts">
          </select>


          <div class="input-group-prepend">
            <label class="input-group-text" for="tf">Delete layout</label>
          </div>
          <select class="custom-select" id="deleteLayouts">
          </select>
          

          <div class="input-group-prepend">
            <label class="input-group-text" for="layoutName">Save current layout</label>
          </div>
          <input id="layoutName" type="text" class="form-control" placeholder="Layout's name" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" onclick="saveLayout()">Save</button>
          </div>
          
        </div>

        <div class="input-group mb-3">
          <input type="button" class="btn btn-warning" value="Clear Layout" onclick="clearLayout()">
          <button class="btn btn-success" type="button" onclick="refreshLayout()">Refresh Layout</button>
          <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#exportLayoutsModal" onclick="exportLayouts()">Export Layouts</button>
          <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#importLayoutsModal">Import Layouts</button>
        </div>
        
      </div>

    </div><!-- row -->
</div><!-- container -->

<!-- loading animation -->
<div class="container" style="text-align: center;">
  <div id="loading" class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>




<!-- The export layouts modal -->
<div class="modal fade" id="exportLayoutsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">Layouts' code</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Select all, copy and store somewhere this code</p>
        <textarea id="exportLayoutsContent" style="width: 100%;"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- The import layouts modal -->
<div class="modal fade" id="importLayoutsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalLabel">Layouts' code</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Paste the code representing your layouts below, and then click on "Import"</p>
        <textarea id="importLayoutsContent" style="width: 100%;"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="importLayouts()">Import</button>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid" id="charts">
</div>

<script type="text/javascript">
 function loadStuff () {
   var key = document.getElementById('key').value
   var pair = document.getElementById('pair').value
   // var tf = document.getElementById('tf').value
   var timeframes = $('#tf').val()

   timeframes.forEach((tf) => {
     var params = key + "/" + pair +"/" + tf
     var id = params + Math.random()

     
     var row = document.createElement('div')
     row.classList.add('row')
     var chart = document.createElement('div')
     chart.id = id
     chart.classList.add('col-lg-12')

     row.appendChild(chart)

     document.getElementById('charts').appendChild(row)



     chartsLayout.push({
       pair: pair,
       timeframe: tf
     })

     fetchDataTest("/neuroapp/heatmap/"+ params, id, pair + " " + tf)
   })
 }
</script>

<script type="text/javascript" src="/neuroapp/js/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



<script type="text/javascript" src="/neuroapp/js/plotly-latest.min.js"></script>
<script type="text/javascript" src="/neuroapp/js/index.js"></script>
  </body>
</html>
